pipeline/LoadMainorAllFiles.json
{
	"name": "LoadMainorAllFiles",
	"properties": {
		"activities": [
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Active Loads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Active Loads').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Exec Copy IMdb files From HTTP to Blob",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_IMdb_HTTP_To_BloB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item().SourceFileName",
										"type": "Expression"
									},
									"DestinationTableName": {
										"value": "@item().DestinationFileName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup Load Configuration Parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MappingConfigurationFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter Active Loads",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Load Configuration Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Load Configuration Parameters').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsActive,'1')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"LoadAllFiles": {
				"type": "bool"
			}
		},
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IMdb PipeLines"
		},
		"annotations": []
	}
}