pipeline/LoadAllFilesInSequence.json
{
	"name": "LoadAllFilesInSequence",
	"properties": {
		"activities": [
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Active Loads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Active Loads').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Exec Copy IMdb files From HTTP to Blob",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Copy_IMdb_HTTP_To_BloB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileName": {
										"value": "@item().SourceFileName",
										"type": "Expression"
									},
									"DestinationTableName": {
										"value": "@item().DestinationFileName",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Move From Blob To ADLS",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Exec Copy IMdb files From HTTP to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MoveFromBlobToADLS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Lookup Load Configuration Parameters",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [Mappings].[SourceDestinationDefinition] where Id = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_IMdb",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Filter Active Loads",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Items Mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Load Configuration Parameters').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().IsActive, 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Items Mapping",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup Load Configuration Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [Mappings].[ItemMappings] where PipelineId = @{activity('Lookup Load Configuration Parameters').output.firstRow.Id}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_IMdb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Files": {
				"type": "Array"
			},
			"ListOfFiles": {
				"type": "String"
			}
		},
		"folder": {
			"name": "IMdb PipeLines/From HTTP to Blob_ADLS"
		},
		"annotations": []
	}
}